/**
 * z-index.css
 * ------------------------------------------------------------------
 * Layer System
 * ------------------------------------------------------------------
 */

:root {

    --z-base: 1;

    --z-dropdown: 100;

    --z-sticky: 200;

    --z-fixed: 300;

    --z-sidebar: 400;

    --z-overlay: 800;

    --z-modal: 900;

    --z-popover: 950;

    --z-toast: 990;

    --z-tooltip: 999;

    --z-loading: 9999;
}